[Unit]
Description=IDA NEAR REAL TIME SYSTEM (NRTS) Service
After=network.target

[Service]
Type=simple
User=nrts
Group=nrts
RemainAfterExit=True

# NRTS HOME DIR PATH IS SYSTEM/INSTALLATION SPECIFIC
# MODIFY ExecStart AND ExecStop ACCORDINGLY
ExecStart={{ nrts_home_dir }}/etc/init.d/nrts start
ExecStop={{ nrts_home_dir }}/etc/init.d/nrts stop

[Install]
WantedBy=multi-user.target
