- name: clear old src and build artifacts
  file:
    path: "{{ build_root }}/build/nrts/*"
    state: absent
  # loop:
  #   - bin
  #   - lib
  #   - src
  become: yes

- name: make sure build dir exists
  file:
    path: "{{ build_root }}/build/nrts/nrts-src"
    recurse: true
    state: directory
    owner: nrts
    group: nrts
    mode: 0755
  become: true


# NOTE: ansibe does not add another directory level using the repo name, 
#       it just puts repo contaents in dir specified
- name: get NRTS source repository
  ansible.builtin.git:
    repo: https://github.com/projectida/nrts-src.git
    dest: "{{ build_root }}/build/nrts/nrts-src"
    accept_hostkey: yes
  become: yes
  become_user: nrts

- name: build nrts software
  become: yes
  become_user: nrts
  shell:
    chdir:  "{{ build_root }}/build/nrts/nrts-src"
    cmd: ./build.csh {{ deploy_root }}

##################################
- name: create nrts system dirs
  file:
    path: "{{ deploy_root }}/{{ item }}"
    state: directory
    owner: nrts
    group: nrts
    mode: 0775
  become: true
  loop:
    - bin
    - scripts
    - log
    - tmp

- name: touch nrtslog
  shell:
    chdir: "{{ deploy_root }}/log"
    cmd: |
      touch nrtslog
      chmod 664 nrtslog
  become_user: nrts
  become: yes
  tags:
    logger

- name: add root to nrts group (for rsyslog)
  user:
    name: root
    append: yes
    groups: nrts
  become: yes

- name: copy user nrts runtime env dotfiles and default ~nrts/etc files
  copy:
    src: "{{ build_root }}/build/nrts/src/env-runtime/nrts/{{ item.src }}"
    dest: "{{ deploy_root }}/{{ item.dest }}"
    owner: nrts
    group: nrts
    mode: preserve
    remote_src: yes
  loop:
    - { src: aliases,   dest: .aliases }
    - { src: bvirc,     dest: .bvirc }
    - { src: cshrc,     dest: .cshrc }
    - { src: envrc,     dest: envrc }
    - { src: iwvrc,     dest: .iwvrc }
    - { src: pathrc,    dest: .pathrc }
    - { src: platform,  dest: .platform }
  # become_method: su
  become_user: nrts
  become: yes

- name: set NRTS_HOME in envrc
  replace: 
    path: "{{ deploy_root }}/envrc"
    regexp: '^\b(setenv +NRTS_HOME)[^\n]*$'
    replace: '\1 {{ deploy_root }}'
  become_user: nrts
  become: yes
  # vars:
  #   ansible_become_pass: "{{ nrts_user_auth }}"

- name: rename envrc to .envrc
  command: mv {{ deploy_root }}/envrc {{ deploy_root }}/.envrc
  become_user: nrts
  become: yes
  # vars:
  #   ansible_become_pass: "{{ nrts_user_auth }}"

